<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "User-Group List: Build. Participate. Support." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '' %>">
    <meta name="author" content="<%= content_for?(:author) ? yield(:author) : '' %>">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'User-Group List', user_groups_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= nav_tab('Home', root_path) %>
            <%= nav_tab('User-Groups List', user_groups_path) %>
            <% if current_user %>
              <%= nav_tab('Me', user_profile_path(current_user)) %>
            <% end %>
            <%#= nav_tab('About', about_path) %>
            <%#= nav_tab('Contact', contact_path) %>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
          <!-- <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search User-Groups" name="q" id="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          </div> -->
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      <div class="row">
        <%= render 'layouts/flash_messages' %>
        <% if current_user %><%= link_to 'sign out', destroy_user_session_path, method: :delete %><% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>

